<!DOCTYPE html>
<html>
  <head>
    <title>Data input form</title>
    </head>
    <body>
        <a href="/category_form">Categories form</a><br>
        <a href="/delivery_data_form">Delivery data form</a><br>
        <a href="/discount_form">Discount form</a><br>
        <a href="/items_form">Items form</a><br>
        <a href="/ordered_form">Ordered form</a><br>
        <a href="/ordered_items_form">Ordered items form</a><br>
        <a href="/orders_form">Orders form</a><br>
        <a href="/owns_form">Owns form</a><br>
        <a href="/roles_form">Roles form</a><br>
        <a href="/user_item_form">User items form</a><br>
        <a href="/wished_user_items_form">Wished items form</a><br>
        <a href="/users_form">User form</a><br>
    </body>
</html>