<body>
    dmurza at constructor.university <br/> <br/>


    This website is student lab work and does not necessarily reflect Jacobs University Bremen opin- <br/>
    ions. Jacobs University Bremen does not endorse this site, nor is it checked by Jacobs University <br/>
    Bremen regularly, nor is it part of the official Jacobs University Bremen web presence. <br/>
    For each external link existing on this website, we initially have checked that the target page <br/>
    does not contain contents which is illegal wrt. German jurisdiction. However, as we have no in- <br/>
    fluence on such contents, this may change without our notice. Therefore we deny any responsibility <br/>
    for the websites referenced through our external links from here. <br/>
    No information conflicting with GDPR is stored in the server<br/>
</body>