{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/smoothness/jquery-ui.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://code.jquery.com/ui/1.13.1/jquery-ui.min.js"></script>
    <title>Users</title>
</head>
<body>
    <div class="pb-6 grid grid-cols-4 gap-4 bg-gray-100">
        <div class="col-span-1">
            <form method="get" action="/users">
                <input name="query" id="autocomplete" class="w-full py-4 px-6 border rounded-xl" type="text" value="{{ query }}" placeholder="Search by username or address">
                <div id="autocomplete-loader" class="hidden">Loading...</div>

                <button class="mt-2 py-4 px-8 text-lg bg-teal-500 text-white rounded-xl">Search</button>
            </form>

            <hr class="my-6">

            <p class="font-semibold">Roles</p>

            <ul>
                {% for role in roles %}
                    <li class="py-2 px-2 rounded-xl{% if role.id == role_id %} bg-gray-200{% endif %}">
                        <a href="/users?query={{ query }}&role={{ role.id }}">{{ role.name }}</a>
                    </li>
                {% endfor %}
            </ul>

            <hr class="my-6">

            <p class="font-semibold">Clear filters</p>

            <ul>
                <li><a href="/users" class="mt-2 py-4 px-8 inline-block bg-yellow-500 text-lg rounded-xl text-white">Clear</a>
        </div>

        <div class="col-span-3">
            <div class="grid grid-cols-3 gap-3">
                {% for user_order_count in user_order_counts %}
                    <div>
                        <a href="/users/{{ user_order_count.user.id }}">
                            {% comment %} <div>
                                <img src="{{ item.image.url }}" class="rounded-t-xl">
                            </div> {% endcomment %}
    
                            <div class="p-6 bg-white rounded-b-xl">
                                <h2 class="text-2xl">{{ user_order_count.user.username }}</h2>
                                <p class="text-gray-500">Number of orders: {{ user_order_count.order_count }}</p>
                            </div>
                        </a>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
</body>
<script>
    $(document).ready(function() {
        $("#autocomplete").autocomplete({
          source: function(request, response) {
            $.ajax({
              url: '/autocomplete_users',
              method: 'GET',
              dataType: 'json',
              data: {
                term: request.term
              },
              success: function(data) {
                response(data);
              },
              error: function() {
                response([]);
              }
            });
          }
        });
      });
</script>
</html>